*                       @Ukrainian-Debate-Dev-Community/backend
/.github/               @Ukrainian-Debate-Dev-Community/devops
/Dockerfile             @Ukrainian-Debate-Dev-Community/devops
/.dockerignore          @Ukrainian-Debate-Dev-Community/devops
/docs/                  @Ukrainian-Debate-Dev-Community/docs @Ukrainian-Debate-Dev-Community/backend
